body {
    margin:0;
    font-family: 'Roboto';
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 24px;  
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a, .hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    /* flex-wrap: wrap; */
}

.hero {
    display: flex;
    gap: 20px;
    padding: 100px 350px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 50%;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    font-family: 'Roboto';
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    width: 100px;
}

.hero-image {
    width: 50%;
    background-color: rgb(165, 165, 164);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

li img{
    border: 3px solid #3882f6;
    width: 130px;
    height: 130px;
    border-radius: 12px;
}

.info-imgs ul {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.info-imgs li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #6e6f70;
    font-size: 18px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
    margin: 0;
}

.thor {
    font-size: 24px;
    font-weight: 500;
    align-self: flex-end;
}